<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/estilo.css">
    <title>Bem vido a Pagina de Saudação</title>
</head>
<body>
    <h1>Bem vindo a Pagina /Saudação</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit beatae ratione quasi est mollitia 
        dolorum itaque tenetur vitae nihil exercitationem provident debitis excepturi consequatur, 
        temporibus ullam veniam voluptate molestias iste EVERTONNNN.</p>
    
</body>
</html>